<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <project path="device/xiaomi/veux" name="AOSPA-VEUX/android_device_xiaomi_veux" remote="github" revision="vauxite" />
  <project path="kernel/xiaomi/veux" name="AOSPA-VEUX/kernel_xiaomi_veux" remote="github" revision="14" />
  <project path="vendor/xiaomi/veux" name="takixamru/vendor_xiaomi_veux-aospa" remote="gitlab" revision="vauxite" />
  <project path="hardware/xiaomi" name="AOSPA/android_hardware_xiaomi" remote="aospa" revision="vauxite" />
  <project path="vendor/qcom/opensource/audio-hal/primary-hal" name="AOSPA/android_hardware_qcom_audio" remote="aospa" revision="vauxite-888" />
  <project path="hardware/qcom/display" name="AOSPA/android_hardware_qcom_display" remote="aospa" revision="vauxite-888" />
  <project path="hardware/qcom/gps" name="AOSPA/android_hardware_qcom_gps" remote="aospa" revision="vauxite-888" />
  <project path="hardware/qcom/media" name="AOSPA/android_hardware_qcom_media" remote="aospa" revision="vauxite-888" />
  <project path="vendor/nxp/opensource/halimpl" name="AOSPA/android_vendor_nxp_opensource_halimpl" remote="aospa" revision="vauxite-SN100X-legacy" />
  <project path="vendor/nxp/opensource/hidlimpl" name="AOSPA/android_vendor_nxp_opensource_hidlimpl" remote="aospa" revision="vauxite-SN100X-legacy" />
</manifest>
